version: '3.8'
services:
  web:
    build: .
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:./dev.db
      - NEXT_PUBLIC_BASE_URL=http://localhost:3000
    volumes:
      - ./:/app
